@page
@model homework_6_ColinKorsmo.Pages.AddReviewModel
@{
    ViewData["Title"] = "Add Review";
}

<h2>Create</h2>
<h4>Product Review</h4>
<hr>

<div class="container text-start">
    <form method="post" class="w-50">
        <div class="mb-3">
            <label for="ProductID" class="form-label">Product</label>
            <select id="ProductID" name="ProductID" class="form-control form-control-sm" required>
                <option value="">Choose...</option>
                @foreach (var product in Model.Products)
                {
                    <option value="@product.ProductID">@product.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="Score" class="form-label">Score</label>
            <input type="number" id="Score" name="Score" class="form-control form-control-sm" min="1" max="5" required />
        </div>

        <div class="mb-3">
            <label for="ReviewText" class="form-label">Review</label>
            <textarea id="ReviewText" name="ReviewText" class="form-control form-control-sm" rows="3" maxlength="1000" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <div class="mt-3">
            <a href="/Index">Back to List</a>
        </div>
    </form>
</div>
