@page
@{
    ViewData["Title"] = "Pricing";
}

<div class="container">
    <!-- MindSync header -->
    <div class="p-3 text-center">
        <h1>MindSync Pricing</h1>
        <p class="fs-5 text-secondary">Experience the future with MindSync, the revolutionary neural implant device from ThroughtTronix. Elevate your cognitive ability today. Your thoughts, our business.</p>
    </div>

    <!-- row, columns, and cards -->
    <div class="row justify-content-center text-center">

    <!-- free column -->
    <div class="col-3">
        <div class="card">
            <div class="card-header">Free</div>
            <div class="card-body">
                <h1 class="card-title">$0/Month</h4>
                <p class="card-text">Get started with our free, community edition of MindSync. Supported by subliminal advertising.</p>
                <a href="#" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</a>
            </div>
        </div>
    </div>

    <!-- premium column -->
    <div class="col-3">
        <div class="card">
            <div class="card-header">Premium</div>
            <div class="card-body">
                <h1 class="card-title">$1,999/mo</h4>
                <p class="card-text">Our most popular choice. Elevate your neural implant experience with an enhanced ad-free environment.</p>
                <a href="#" class="w-100 btn btn-lg btn-primary">Get started</a>
            </div>
        </div>
    </div>

    <!-- enterprise column -->
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-primary text-light border-primary">Enterprise</div>
            <div class="card-body">
                <h1 class="card-title">$99,999/mo</h4>
                <p class="card-text">The Enterprise edition is available for large corporations, mercenary groups, and governments.</p>
                <a href="#" class="w-100 btn btn-lg btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</div>


    <!-- table to compare plans -->
    <h2 class="m-4 text-center text-secondary">Compare plans</h2>

    <!-- actual table contents -->
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 40%">&nbsp;</th>
                            <th scope="col" style="width: 20%">Free</th>
                            <th scope="col" style="width: 20%">Premium</th>
                            <th scope="col" style="width: 20%">Enterprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start fw-bold">Ad-free</td>
                            <td></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                        </tr>
                        <tr>
                            <td class="text-start fw-bold">Data analytics</td>
                            <td></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                        </tr>
                        <tr>
                            <td class="text-start fw-bold">Priority Support</td>
                            <td></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                        </tr>
                        <tr>
                            <td class="text-start fw-bold">Custom Neural Mapping</td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                        </tr>
                        <tr>
                            <td class="text-start fw-bold">Enhanced Security Protocols</td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><i class="bi bi-check-lg"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
